html, body {
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
}

.header-background {
    background-image: url('header.jpg'); /* Substitua pela URL da sua imagem */
    background-size: cover; /* Mantém a imagem coberta */
    background-position: center 70%; /* Ajusta para mostrar mais da parte inferior */
    padding: 40px; /* Espaçamento interno */
    min-height: 300px; /* Altura mínima do cabeçalho */
    position: relative; /* Para permitir posicionamento absoluto dos filhos */
}

/* Estilo do h1 */
h1 {
    font-size: 1vw; /* Tamanho da fonte em vw para ser responsivo */
    color: black; /* Cor do texto */
    position: absolute; /* Posiciona o h1 de forma absoluta */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    margin: 0; /* Remove margens padrão */
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
    .header-background {
        padding: 20px; /* Ajusta o padding em dispositivos menores */
        min-height: 200px; /* Altura mínima menor em dispositivos móveis */
    }

    h1 {
        font-size: 5vw; /* Tamanho da fonte em vw para telas menores */
        top: 10px; /* Ajusta a distância do topo em telas menores */
        left: 10px; /* Ajusta a distância da esquerda em telas menores */
    }
}